<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
  </head>
  <style>
    table, th, td {
      border:1px solid black;
    }
    .form-container {
            display: inline-flex;
        }

    form {
        display: inline-block;
        vertical-align: middle;
    }
  </style>

  <body>
    <a href="{{ url_for('index') }}">Go home</a>
    <h1>Hey Admin ;) </h1>

    <h2>JazJaz-redelnica:</h2>
    <table>
      <tr></tr>
        <th colspan="2"></th>
        <th colspan="{{categories|length*2}}">categories</th>
      <tr>
        <th colspan="2">User info</th>
        {% for cat in categories.values() %}
          <th colspan="2">{{cat}}</th>
        {% endfor %}
      </tr>
      <tr>
        <th>Username</th>
        <th>IP</th>
        {% for cat_id, cat in categories.items() if not cat_id == trash_cat_id%}
          <th>Uploaded</th>
          <th>Voted</th>
        {% endfor %}
        <th>Uploaded</th>
      </tr>

      {% for user, uploads in user_uploads.items() %}
        <tr>
          <td>{{user}}</td>
          <td>{{user_ips[user]}}</td>
          {% for cat_id in categories.keys() if not cat_id == trash_cat_id %}
            <td>
              {% if uploads[cat_id] == 1 %} ️✅ {% else %} ❌ {% endif %}
            </td>
            <td>
              {% if user_votes[cat_id][user] %} ️✅ {% else %} ❌ {% endif %}
            </td>
          {% endfor %}
          <td colspan="2">
            {{ uploads[trash_cat_id] }}
          </td>
        </tr>
      {% endfor %}
    </table>

<p>Current cat: <b>{% if current_cat %} {{current_cat}} {% else %} Voting complete! {% endif %}</b></p>

<h2>Staging control:</h2>
<div class="form-container">
  <form method="POST">
      <input type="submit"  value="Upload">
      <input type="hidden" name="stage" value="UPLOAD" />
  </form>
  <form method="POST">
      <input type="submit"  value="Viewing">
      <input type="hidden" name="stage" value="VIEWING" />
  </form>
  <form method="POST">
      <input type="submit"  value="Voting">
      <input type="hidden" name="stage" value="VOTING" />
  </form>
  <form method="POST">
      <input type="submit"  value="Calculate scores">
      <input type="hidden" name="stage" value="SCORE_CALC" />
  </form>
  <form method="POST">
      <input type="submit"  value="Announce winners">
      <input type="hidden" name="stage" value="WINNER_ANNOUNCEMENT" />
  </form>
</div>
    <p>Current stage: {{curr_stage}} </p>

 <form method="post">
      <input type="submit" value="Generate QR code ↑" />
      <input type="hidden" name="generate_qr" value="generate_qr" />
    </form>
    <a href="/qr" target="_blank">
      <img src="{{qr_code_img}}" alt="Server link" width="100"/>
    </a>
  </body>
</html>
