<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HehOrMeh</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>

  <body>
    <h1>Welcome to Heh or Meh Land</h1>
    <br>
    Logged in as: <b>{{ username }}</b>
    <br>

    {% if curr_stage == "UPLOAD" %}
      <a href="/upload" class="btn-link">Upload memes</a>

    <!-- Don't judge :( -->
    <br /><br /><br /><br /><br /><br />

    <div class="expanding-text">
      <button class="toggle-btn" onclick="toggleText('info', 'zapri')">Info</button>
      <div class="text-content" id="textContent">
        <p>Počaki, da vsi naložijo svoje meme-tete</p>
      </div>
    </div>
    {% elif curr_stage == "VIEWING" %}
      <h4>Look at the memes first</h4>

    <!-- Don't judge :( -->
    <br /><br /><br /><br /><br /><br />

    <div class="expanding-text">
      <button class="toggle-btn" onclick="toggleText('info', 'gotem')">Info</button>
      <div class="text-content" id="textContent">
        <a href="https://emoji.gg/emoji/4882_gotem"
          ><img
            src="https://cdn3.emoji.gg/emojis/4882_gotem.png"
            style="width: 200px; height: 200px"
            alt="gotem"
        /></a>
      </div>
    </div>
    {% elif curr_stage == "VOTING" %}
      {% if voted_status %}
        <a href="/vote" class="btn-link">Vote again</a>
        Alredy voted 👍
      {% else %}
        <a href="/vote" class="btn-link">Vote here</a>
      {% endif%}
    <br><br>
    {% else %}
      <h4>Voting complete</h4>
    {% endif %}

    {% if is_host_admin %}
      <br /><br />
      Admin page: <a href="/admin">here</a>
    {% endif %}

    <script>
      function toggleText(expand_text, close_text) {
        const textContent = document.getElementById("textContent");
        const button = document.querySelector(".toggle-btn");
        if (textContent.style.display === "none" || textContent.style.display === "") {
          textContent.style.display = "block";
          button.textContent = close_text;
        } else {
          textContent.style.display = "none";
          button.textContent = expand_text;
        }
      }
    </script>
  </body>
</html>
