<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HehOrMeh</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>

  <body>
    <h1>Welcome to Heh or Meh Land</h1>

    Logged in as: <b>{{ username }}</b>
    <br>

    {% if curr_stage == "UPLOAD" %}
      <h3>Upload yer memes</h3>
      Upload your memes <a href="/upload">here</a>
      <br />
      <h4>Wait for voting to open</h4>
    {% elif curr_stage == "VIEWING" %}
      <h4>Look at the memes first</h4>
    {% elif curr_stage == "VOTING" %}
      <h4>Vote for next category:</h4>
      <a href="/vote">Vote here</a>
    {% else %}
      <h4>Voting complete</h4>
    {% endif %}
    <br />

    {% if is_host_admin %}
      <br /><br />
      Admin page: <a href="/admin">here</a>
    {% endif %}
  </body>
</html>
