<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
  </head>
  <style>
    .gfg {
      display: block;
      margin-left: 70px;
      margin-top: -15px;
    }
    .ok {
      margin-left: 20px;
      font-weight: bold;
    }
    .btn {
      margin-top: 20px;
      width: 80px;
      height: 25px;
      background-color: gray;
      color: white;
    }
    .user {
      color: green;
    }
  </style>
  <body>
    <div class="container">
      <h2 class="user">Yo bre, kok ti je ime?</h2>
      <form action="{{ url_for('login') }}" method="POST">
        <br />
        <label class="ok">User:</label>
        <input
          class="gfg"
          type="text"
          class="form-control"
          id="user"
          name="user"
          placeholder="Enter user"
        />
      </form>
    </div>
  </body>
</html>
