<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
  </head>
  <style>
    table, th, td {
      border:1px solid black;
    }
    .form-container {
            display: inline-flex;
        }

    form {
        display: inline-block;
        vertical-align: middle;
    }
  </style>

  <body>
    <a href="{{ url_for('index') }}">Go home</a>

    <br>
    <br>
    <br>

    {% if stage == "SCORE_CALC" %}
      <div class="progress-bar-continer">
        <div class="progress-bar" id="progress-bar"></div>
        <div class="progress-bar-text" id="progress-bar-text"></div>
      <div>

      <p style="margin-bottom:10cm;"> </p>
      <form method="post">
        <input id="show_score_button", type="hidden" value="Show scores!" />
        <input type="hidden" name="stage" value="WINNER_ANNOUNCEMENT" />
      </form>
    {% else %}
      <div>
        <h2>Najboljši meme-ji</h2>
        {% for k, v in score_memes.items() %}
          <div class="expanding-text">
            <button class="toggle-btn" id="{{k}}{{v}}" onclick="toggleText('{{k}}', 'zapri', '{{k}}', '{{k}}{{v}}')">{{k}}</button>
            <div class="text-content" id="{{k}}">
              <input type="hidden" name="img_name_{{ loop.index0 }}" value="{{v}}" />
            </div>
          </div>
        {% endfor %}

        <h2>Najboljši folk</h2>
        {% for k, v in score_users.items() %}
          <div class="expanding-text">
            <button class="toggle-btn" id="{{k}}{{v}}" onclick="toggleText('{{k}}', 'zapri', '{{k}}', '{{k}}{{v}}')">{{k}}</button>
            <div class="text-content" id="{{k}}">
              <p><b>{{v}} 🥇</b></p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <script>
      function toggleText(expand_text, close_text, text_ID, button_ID) {
        const textContent = document.getElementById(text_ID);
        const button = document.getElementById(button_ID);
        // const button = document.querySelector(".toggle-btn");
        if (textContent.style.display === "none" || textContent.style.display === "") {
          textContent.style.display = "block";
          button.textContent = close_text;
        } else {
          textContent.style.display = "none";
          button.textContent = expand_text;
        }
      }

      let interval;
      let current = 0;
      let stop = 69;
      let progressBarTextElement = document.getElementById('progress-bar-text');
      let progressBarElement = document.getElementById('progress-bar');

      tick_period = 100; // every 0.1 s

      function render() {
        let progressPercentage = current;

        progressBarElement.style.width = progressPercentage + '%';
        progressBarTextElement.innerHTML = progressPercentage + '%';

        if (progressPercentage >= stop) {
          document.getElementById('show_score_button').type = 'submit';
        }
      }

      function tick() {
        current += 1;
        if(current >= stop) {
          clearInterval(interval); //Stops interval
        }

        render(); //Updates html
      }

      function startProgressBar() {
        interval = setInterval(tick, tick_period); //Will call tick every second
        render();
      }

      startProgressBar();

    </script>
  </body>
</html>
