<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>GlasujZameme</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
  </head>

  <body>
    <h2>GlasujZameme: {{ cat }}</h2>
    <a href="{{ url_for('index') }}">Go home</a>
    <hr style="width: 100%; height: 5px; background-color: black" />

    <form action="/vote" method="post">
      {% for image, is_author in image_and_author_info.items() %}
      {% set img_name = image.split('/')[-1] %}
        <img src="{{ image }}" />
          {% if is_author %}
          <div>Sori bre, ta je tvoj...<br />Daj 5ko nekam drugam.</div>
          {% else %}
          <!-- Slider for voting -->
          <div class="slider-container">
            <b>meh</b>
            <input type="range" id="funny_slider_{{ loop.index0 }}" name="funny_slider_{{ loop.index0 }}" min="0" max="100" value="0" oninput="markSliderMoved('f_slider_moved_{{ loop.index0 }}')" class="slider">
            <b>heh</b>
          </div>
          <!-- Hidden field to track if the slider was moved -->
          <input type="hidden" id="f_slider_moved_{{ loop.index0 }}" name="f_slider_moved_{{ loop.index0 }}" value="0">

          <div class="slider-container">
            <b>🗿</b>
            <input type="range" id="cringe_slider_{{ loop.index0 }}" name="cringe_slider_{{ loop.index0 }}" min="0" max="100" value="0" oninput="markSliderMoved('c_slider_moved_{{ loop.index0 }}')" class="slider">
            <b>FBC</b>
          </div>
          <!-- Hidden field to track if the slider was moved -->
          <input type="hidden" id="c_slider_moved_{{ loop.index0 }}" name="c_slider_moved_{{ loop.index0 }}" value="0">

          <input type="hidden" name="img_name_{{ loop.index0 }}" value="{{img_name}}" />
        {% endif %}
      <br />
      <hr style="width: 100%; height: 5px; background-color: black" />
      {% endfor %}

      <h2>Idemo</h2>
      <input type="submit" value="Submit values" />
      <input type="hidden" name="cat_id" value="{{cat_id}}" />
    </form>
  <script>
    function markSliderMoved(slider_moved_id) {
      document.getElementById(slider_moved_id).value = "1";
    }
  </script>
  </body>
</html>
