<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>GlasujZameme</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
  </head>

  <body>
    <h2>GlasujZameme: {{ cat }}</h2>
    <a href="{{ url_for('index') }}">Go home</a>
    <hr style="width: 100%; height: 5px; background-color: black" />

    <form action="/vote" method="post">
      {% for image, is_author in image_and_author_info.items() %}
      {% set img_name = image.split('/')[-1] %}
        <img src="{{ image }}" />
          {% if is_author %}
          <div>Sori bre, ta je tvoj...<br />Daj 5ko nekam drugam.</div>
          {% else %}
          <!-- Slider for voting -->
          <div class="slider-container">
            <b>meh</b>
            <input type="range" id="funny_slider_{{ loop.index0 }}" name="funny_slider_{{ loop.index0 }}" min="-1" max="100" value="-1" oninput="markSliderMoved(this); updateThumbColor(this)" class="slider">
            <b>heh</b>
          </div>

          <div class="slider-container">
            <b>🗿</b>
            <input type="range" id="cringe_slider_{{ loop.index0 }}" name="cringe_slider_{{ loop.index0 }}" min="-1" max="100" value="-1" oninput="markSliderMoved(this); updateThumbColor(this)" class="slider">
            <b>FBC</b>
          </div>

          <input type="hidden" name="img_name_{{ loop.index0 }}" value="{{img_name}}" />
        {% endif %}
      <br />
      <hr style="width: 100%; height: 5px; background-color: black" />
      {% endfor %}

      <h2>Idemo</h2>
      <input type="submit" value="Submit values" />
      <input type="hidden" name="cat_id" value="{{cat_id}}" />
    </form>
  <script>
    function markSliderMoved(sliderElement) {
      // Change the slider's minimum value to 0 when moved
      if (sliderElement.min === "-1") {
        sliderElement.min = "0";
      }
    }

function updateThumbColor(sliderElement) {
    const value = sliderElement.value;
    const min = sliderElement.min;
    const max = sliderElement.max;

    // Calculate the hue value for smooth transition (red = 0°, green = 120°)
    const hue = ((value / (max - min)) * 120).toFixed(0);

    // Convert hue to HSL color
    const thumbColor = `hsl(${hue}, 100%, 50%)`;

    // Update the CSS variable controlling the thumb color
    sliderElement.style.setProperty('--thumb-color', thumbColor);

  }
  </script>
  </body>
</html>
