<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FlaskBlog</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <h1>Welcome to Heh or Meh</h1>

    {% if not username %}
      Please log in to vote on memes. Click <a href="/login">here</a> to log in.
    {% else %}
      Logged in as: <b>{{ username }}</b>

      <h3>Go to current <a href="{{ url_for('categories') }}">category</a></h3>


    {% endif %}

    <!-- <h2>{{ '%s - go to' % ('' if not user else 'Button') }}</h2> -->
  </body>
</html>
